<a href="https://colab.research.google.com/github/rayeeed/UFP_Project/blob/main/POImerger.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df2=pd.read_csv('/content/extractedData2-4.csv')
df4=pd.read_csv('/content/extractedData6-8.csv')
df3=pd.read_csv('/content/extractedData4-6.csv')
df1=pd.read_csv('/content/extractedData_1_2000.csv')
df5=pd.read_csv('/content/extractedData8-10.csv')

In [ ]:
frames = [df1, df2, df3,df4,df5]

In [ ]:
result = pd.concat(frames,ignore_index=True)

In [ ]:
result.shape

(2641, 151)

In [ ]:
result.drop_duplicates(subset ="Place ID",keep = 'first', inplace = True)

In [ ]:
result.shape

(2734, 4)

In [ ]:
result.to_csv('completed.csv')

In [ ]:
finale=pd.read_csv('/content/completed (1).csv')
finale.head()

                                   Place Name  ...  Longitude
0                       Foods Club Restaurant  ...  90.421777
1                             The Wind Lounge  ...  90.421769
2               Al Kaderia Hotel & restaurant  ...  90.423123
3           ANAS CAFE Thai Chinese Restaurent  ...  90.421284
4  Chilis restaurant & party center, banasree  ...  90.425884

[5 rows x 4 columns]

In [ ]:
finale.sort_values("Place ID", inplace = True)

In [ ]:
finale.head()

                        Place Name  ...  Longitude
45021           Al Aqsa Restaurant  ...  90.413605
45254  Alauddin Hotel & Restaurant  ...  90.430442
42193  Alauddin Hotel & Restaurant  ...  90.430442
46270  Alauddin Hotel & Restaurant  ...  90.430442
46326  Alauddin Hotel & Restaurant  ...  90.430442

[5 rows x 4 columns]

In [ ]:
finale.drop_duplicates(subset ="Place ID",keep = False, inplace = True)

In [ ]:
finale.shape

(450, 4)

In [ ]:
finale.drop_duplicates(keep="first")

                                             Place Name  ...  Longitude
0                                 Foods Club Restaurant  ...  90.421777
1                                       The Wind Lounge  ...  90.421769
2                         Al Kaderia Hotel & restaurant  ...  90.423123
3                     ANAS CAFE Thai Chinese Restaurent  ...  90.421284
4            Chilis restaurant & party center, banasree  ...  90.425884
...                                                 ...  ...        ...
61817  Tasty Treat-Tongi Bazar টেস্টি ট্রিট- টংগী বাজার  ...  90.401566
61820                                 Haresa Enterprise  ...  90.402554
61831                              Mamas Chotpoti Fuska  ...  90.404019
61845                          Maa Hotel And Restaurant  ...  90.402321
61882                                  Sohana Fast food  ...  90.401050

[2734 rows x 4 columns]